#item_AccountManagement,
#item_ProductManagement,
#item_OrderManagement,
#item_Dashboard{
    padding:4px;
}

#item_Dashboard{
    background-color: #ddd;
    border-right: 2px solid red;
    font-weight: 600;
}

#item_AccountManagement:active,
#item_ProductManagement:active,
#item_OrderManagement:active,
#item_Dashboard:active{
    border-right: 2px solid red;
}

#item_AccountManagement:hover,
#item_ProductManagement:hover,
#item_OrderManagement:hover,
#item_Dashboard:hover{
    background-color: #ddd;
    border-right: 2px solid red;
}

