*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




  #header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 3;
    display: flexbox;
    justify-content: space-between;
  }

  #header .logo h1 {
    display: inline-block;
    text-decoration: none;
  }
  
  #slider{
    /* background: rgb(255, 233, 233); */
    background: #000;
  }

  #searchsection{
    position: fixed;
    left: 0;
    right: 0;
    top:65px;
    /* background-color: #fef8ee; */
    background: #fff;
    z-index: 3;
    display: none;
  }
  #searchsection .search-field{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  #searchsection .search-field .search-btn{
    border: none;
    font-size: 30px;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #000;
    /* background-color:#fef8ee; */
    background: #fff;
    margin-bottom: 20px;
  }
  #filterSearch{
    margin-bottom: 30px;
    display: flex;
    display: none;
  }
  input:focus{
    outline: 0;
  }

  #searchsection .search-field .btn-close-search{
    top: 12px;
    right:0;
    font-size: 20px;


  }
  #slider .btn-slider button {
  border: none;
  height: 4rem;
  width: 16rem;
  /* background: #000; */
  background: #fff;
  /* color: #fff; */
  color: #000;
  font-size: 25px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 20px;
}

#signup
{
  display: none;
}


#statusSignUp,
#statusLogin{
  color:red;
  font-weight: 400;
}
.product-card{
  position: relative;
}
.product-card .btn-Detail{
  position: absolute;
  top:60%;
  left:50%;
  transform: translateX(-50%);
  display: block;
  border: 1px solid #000;
  /* border-radius: 10px; */
  background: #fff;
  font-size: 25px;
  color: #000;
  padding:4px 12px;
  opacity: 0;
  transition: 0.2s;
}
.product-card:hover>div:first-child{
  box-shadow:0 0 20px rgba(0,0,0,0.3);
}
.product-card:hover .btn-Detail{
  box-shadow:0 0 10px #000;
  opacity: 1;
}


.product_img{
  margin-top: 20px;
  margin-bottom: 20px;
  height:150px;
  object-fit: cover;
}

.product_buy_btn{
  /* display: block; */
  outline: none;
  border: none;
  padding:12px 24px;
  border-radius: 20px;
}

.scroll_event_Add_class{
  background: #fff;
  box-shadow:  1px 1px 10px #ccc;
}

.changeText{
  color:#fff;
}

#form5Example29{
  display: block;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #000;
}


#logo_black,
#logo_white{
  width:100px; 
  margin-left:-100px;
}

#logo_white{
  display: none;
}

.category-btn{
  display:block; 
  outline:0; 
  border:0; 
  background:#fff;
}

.search-btn::placeholder{
  color:rgb(100, 66, 13);
  text-transform: inherit;
}

.pageNumber a{
  padding:4px 12px;
  margin: 0 10px;
  background-color: #ccc;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.pageNumber a:hover {
  color: #000;
  background-color: #ddd;
}
#pricefilter,
#typefilter,
#brandfilter{
  width: 100%;
}
#pricefilter input,
#typefilter input,
#brandfilter input{
  margin-right: 5px;  
}

#pricefilter label,
#typefilter label,
#brandfilter label{
  display: block;
  width:100%;
  font-size: 18px;
  
}

/* .ProductQuantity{
   
} */

.ProductQuantity button{
  display: inline-block;
  margin-top:1px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(165, 4, 4);
  width: 40px;
  height:40px;  
  background-color: #fff;
  border: 1px solid #000;
}

.ProductQuantity #quantity{
    text-align: center;
    color: #000;
}
.ProductQuantity button:first-child:active{
  background-color: red;
  color: #fff;
}

.ProductQuantity button:last-child:active{
  background-color: red;
  color: #fff;
}

.ProductQuantity input{
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  width: 100px;
  height:40px;  
  border: 1px solid #000;
  background-color: #fff;
}

#productDetail-btn-buy{
  margin-top:30px;
  width: 30%;
  font-size: 20px;
  margin-bottom: 50px;
}


#print_product_detail p,
#print_product_detail span{
  display:block;
  font-size: 20px;
}




